<div class="container d-flex justify-content-center">
  <!-- Message -->
  <ngb-alert *ngIf="message" [type]="message.type" (close)="closeMessage(message)">{{ message.text }}</ngb-alert>
</div>

<div class="container d-flex justify-content-center">
  
  <div class="row">

    <!-- Registration form -->
    <form [formGroup]="registrationForm" class="center-item">

      <div class="form-group">
        
        <!-- Head title -->
        <p class="h4 mb-4">Registration form</p>
      </div>

      <div class="form-group">

        <!-- Username -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" [(ngModel)]="userRegistration.username">
          <mat-error *ngIf="checkRequiredValidation('username')">Username is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">

        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" [(ngModel)]="userRegistration.password">
          <mat-error *ngIf="checkRequiredValidation('password')">Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">

        <!-- Roles -->
        <label id="label-role">Pick your role</label>
        <mat-radio-group
          aria-labelledby="label-role"
          class="role-radio-group"
          formControlName="role"
          [(ngModel)]="userRegistration.role">
          <mat-radio-button *ngFor="let role of roles" class="role-radio-button" [value]="role">
            {{role}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="checkRequiredValidation('role')">Role is <strong>required</strong></mat-error>
      </div>

      <div class="form-group">

        <!-- Button -->
        <button mat-raised-button color="primary" (click)="registerUser()">Sing up</button>
      </div>

      <div class="form-group">

        <!-- Link to login -->
        <p>Already have account?
          <a (click)="navigateToLogin()">Login</a>
        </p>
      </div>

      <div class="form-group">

        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <strong>terms of service</strong>
        </p>
      </div>
    </form>
  </div>
</div>
