<!-- Login form -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Login form</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <!-- Sign in button -->
    <button mat-raised-button color="primary" block="true" class="my-4">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>
  
  </form>
  <!-- Login form -->
